:root {
  font-size: 14px;
}

.thead,
tr {
  background-color: honeydew;
}

.tr,
th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  background-color: honeydew;
}

tbody,
tr:nth-child(odd) {
  background-color: white;
}

.tbody,
tr,
td {
  white-space: nowrap;
  width: 20%;
  overflow-wrap: break-word;
  padding: 0.5rem;
}
